.about {
  margin-bottom: 80px;
}
.about .heading {
  text-align: left;
  width: 100%;
  margin-bottom: 30px;
}
.about p {
  font-size: 15px;
  padding-right: 30px;
  margin-bottom: 20px;
  line-height: 30px;
}
.about .btn2 {
  max-width: 150px; /* Set a maximum width for the button */
  width: auto; /* Allow the button to adjust its width based on content */
  font-size: 14px; /* Optionally reduce the font size */
  margin: 0 auto; /* Center the button horizontally */
  display: block; /* Ensure the button takes up full width */
}


@media screen and (max-width: 768px) {
  .about .container {
    flex-direction: column;
  }
  .about p {
    padding: 0;
  }
  .about .container img {
    margin-top: 50px;
  }
}